# Default ignored files
.idea
.idea/
_reshape/.idea/
account
/get-info.txt
/tst.py
/account.txt
/sess.data
/dailyFudan3.1.py
json_examples/failed.json
json_examples/geo_api_info.json
json_examples/success.json
